.logo {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Bakbak One', cursive;
  font-size: 40px;
  color: white;
}

.SignIn {
  font-size: 25px !important;
}

.loginBtn {
  box-shadow: 5px 5px #8ECAE6;
}

.loginBtn:hover {
  color: #8ECAE6;
  background-color: transparent;
  border: #8ECAE6 solid 2px;
  box-shadow: 10px 10px #0288d1;
}